.gform_body label{
  	/*Comment the line bellow if you want to use labels in the form*/
	display: none;
}

.gform_body ul{
	list-style: none;
	padding-left: 0;
  	text-align: left;
  	margin: 0;
  	font-family: sans-serif;
}

.gfield_required {
  	/*Comment the line bellow if you want to display the * in the label of required fileds */
	display:none;
}

.gfield_consent_label {
  display:block!important;
  font-size:12px;
}
.gform_body input[type="checkbox"] {
	width: 20px;
	margin-top: 4px;
	margin-right: 5px;
}

.ginput_container_consent {
	display: flex;
	align-items: flex-start;
}


.gform_fields .gfield input::-webkit-input-placeholder,
.gform_fields .gfield textarea::-webkit-input-placeholder{
	/* Chrome/Opera/Safari */
  color: #000000;
}
.gform_fields .gfield input::-moz-placeholder,
.gform_fields .gfield textarea::-moz-placeholder{ 
	/* Firefox 19+ */
  color: #000000;
}
.gform_fields .gfield input:-ms-input-placeholder,
.gform_fields .gfield textarea:-ms-input-placeholder{
	/* IE 10+ */
  color: #000000;
}
.gform_fields .gfield input:-moz-placeholder,
.gform_fields .gfield textarea:-moz-placeholder{
	/* Firefox 18- */
  color: #000000;
}

.gform_footer {
	display: flex;
}

.gform_wrapper form {
	display: flex;
  	flex-direction: column;
	width: 100%;
}

.gform_wrapper input,
.gform_wrapper textarea,
.gform_wrapper select{
	width:100%;
  	padding:15px;
  	border:1px solid #000000;
  	font-family: sans-serif;
  	background-color:#f2f2f2;
}

.gform_wrapper input:focus,
.gform_wrapper textarea:focus,
.gform_wrapper select:focus{
  	border-color:#120e31;
	outline-style:none
}

.gform_body ul li {
	margin-bottom:10px;
}

.gform_wrapper input[type="submit"] {
	background:#000000;
  	border:1px solid #000;
  	width:auto;
  	color:#ffffff;
  	text-transform:uppercase;
  	font-weight:500;
  	cursor:pointer;
  	letter-spacing:3px;
  	margin-top:10px;
  	padding:10px
}

.gform_wrapper input[type="submit"]:hover {
	background:#120e31;
  	border-color:#120e31;
  	color:#ffffff;
}

.gfield_consent_label a {
	color:#120e31;
}

fieldset.gfield {
	border:none!Important;
  	padding:0!Important;
}
legend.gfield_label {
	display:none!Important;
}
